{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>

        <div>
            
            <a href="#" class="btn btn-success btn-icon-split btn-sm" data-toggle="modal" data-target="#modal1">
                <span class="text">Atualizar bilhete</span>
                <span class="icon text-white-50">
                    <i class="fas fa-user-check"></i>
                </span>
            </a>
                        
        </div>
    
    
    <div class="card shadow mb-4">        
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Informações gerais
            </h4>
        
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Banca</label>
                        <input type="text" class="form-control" value="{{ banca_valores.banca }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Valor inicial</label>
                        <input type="text" class="form-control" value="{{ get_valor_incial }}" disabled>
                    </div>
                </div>

                
            <div class="mr-1 text-right">
                <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                    <span class="text">Voltar</span>
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Atualizar bilhete</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
    
                        <div class="form-group">
                            <label for="id_status" class="col-form-label">Status do bilhete</label>
                            {% render_field form.status placeholder="Atualize o bilhete" class="form-control" %}
                        </div>
                            
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}